body {
background-color: white;
font-family: 'Lato', sans-serif;
}

.login {
  display: flex;
  flex-direction: row-reverse;
}

.nav
{
  display: flex;
  justify-content: center;
}

.nav ul {
  display: flex;
  padding: 0;
}


.nav li {
  text-align: center;
  list-style: none;
}

.nav a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color:  #044C7F;
  padding: 20px;
}

.nav a:hover {
  color: #81A6BF;
}

.username {
  padding-right: 20px;
}
