body {
background-color: white;
font-family: 'Lato', sans-serif;
margin: 0;
}

h1 {
  font-family: 'Archivo Narrow', sans-serif;
}

input {
  font-family: 'Lato', sans-serif;
}

button:hover {
  color: #81A6BF;
}

header {
  display: flex;
  justify-content: center;
}



/*User_icon picture*/


form {
  display: flex;
  padding-top: 10px;
  padding-right: 10px;
}
.user_icon {
  width: 20px;
  height: 20px;
}


.kedu_logo img {
  width: 110px;
  margin-top: -6px;
  margin-right: 150px;
}


header
{
  display: flex;
  align-items: center;
  height: 70px;
}

.login {
  margin-left: 150px;
}

.nav ul {
  display: flex;
  padding: 0;
}


.nav li {
  text-align: center;
  list-style: none;
}

.nav a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color:  #044C7F;
  padding: 20px;
}

.nav a:hover {
  color: #81A6BF;
  text-decoration: underline;
}

a.active {
  color: #81A6BF;
}

.username {
  padding-right: 10px;
  color: #044c7f;
  font-weight: bold;
  text-transform: uppercase;
}



.menu {
  width: 100%;
  height: 55px;
  background-color: #044C7F;
  display: flex;
}

.menu h2 {
margin: 0;
}

h2 {
  color: white;
  padding: 10px;
}

h3 {
  color: #216393;
  text-decoration: none;
}

.contents a {
  text-decoration: none;
}

ul.breadcrumbs {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  list-style: none;
}

ul.breadcrumbs li+li:before {
  padding: 10px;
  content: "/\00a0";
  color: white;
}

.breadcrumbs a {
  color: white;
  text-decoration: none;
}

a.active_bread {
  text-decoration: underline;
}



/*flex container starts*/

.flex_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex_container > div {
  margin: 10px;
  padding: 20px;
}

.flex_container_contents {
  display: flex;
  flex-direction: row;
}

.flex_container_contents > div {
}

.flex_container_lessons {
  display: flex;
  flex-direction: column;
}

.flex_container_lessons > div {
}
/*flex container ends*/


/*lessonplan*/

.categories-lesson {
  width: 200px;
}

.categories-lesson a {
  background-color: #216393;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 12px;
  text-decoration: none;
}

.categories-lesson li {
  list-style-type: none;
  position: relative;
}

.categories-lesson a:hover {
  background-color: #044c7f;
}

.dropout {
  position: relative;
}

.dropout-content {
  position: absolute;
  display: none;
  left: 100%;
  top: 0%;
}

li .dropout-content {
  position: absolute;
}

.dropout-content li {
  border-bottom: 0.5px solid white;
}


li:hover .dropout-content {
  display: block;
  padding: 0px;
  width: 200px;
}
